{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load lang_tags %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_CODE == 'he' %} style="direction:rtl;"{% endif %}>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <title>{% block title %}{% trans 'Home' %}{% endblock %} - Juicy Pussy</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}?ver=2.11">
</head>
<body>
<div class="wrapper">
    <div class="content">
        <header class="header">
            <div class="container">
                <div class="header-row">
                    <div class="header__logo header-logo">
                        <a href="{% url 'girls:home' %}" class="header-logo__link">
                            <img src="{% static 'img/logo.png' %}" alt="Джусси-Пусси">
                        </a>
                    </div>
                    <!-- /.header-logo -->
                    <ul class="header-menus">
                        <li class="header-menus__item">
                            <a class="header-menus__link{% if section == 'home' %} active{% endif %}"
                               href="{% url 'girls:home' %}">{% trans 'Home Page' %}</a>
                        </li>
                        <li class="header-menus__item header-menus__item_has-submenu">
                            <a class="header-menus__link{% if section == 'catalog' %} active{% endif %}"
                               href="{% url 'girls:catalog' %}">{% trans 'Profiles' %}</a>
                            <ul class="submenu">
                                {% for category in categories %}
                                    <li>
                                        <a class="header-menus__link{% if slug == category.slug %} active{% endif %}"
                                           href="{{ category.get_absolute_url }}">{{ category.name|translate:LANGUAGE_CODE }}</a>
                                    </li>
                                {% endfor %}
                                <li>
                                    <a class="header-menus__link{% if slug == 'new' %} active{% endif %}"
                                       href="{% url 'girls:catalog' %}">{% trans 'New' %}</a>
                                </li>
                                <li>
                                    <a class="header-menus__link{% if slug == 'bdsm' %} active{% endif %}"
                                       href="{% url 'girls:catalog_by_service' 'bdsm' %}">{% trans 'BDSM' %}</a>
                                </li>
                                <li>
                                    <a class="header-menus__link{% if slug == 'massazh-eroticheskij' %} active{% endif %}"
                                       href="{% url 'girls:catalog_by_service' 'massazh-eroticheskij' %}">{% trans 'Erotic massage' %}</a>
                                </li>
                                <li>
                                    <a class="header-menus__link{% if slug == 'real-photo' %} active{% endif %}"
                                       href="{% url 'girls:catalog_by_real_photo' %}">{% trans 'Real photo' %}</a>
                                </li>
                                <li>
                                    <a class="header-menus__link{% if slug == 'outcall' %} active{% endif %}"
                                       href="{% url 'girls:catalog_by_outcall' %}">{% trans 'Outcall' %}</a>
                                </li>
                                <li>
                                    <a class="header-menus__link{% if slug == 'apartment' %} active{% endif %}"
                                       href="{% url 'girls:catalog_by_apartment' %}">{% trans 'Discrete flat' %}</a>
                                </li>
                            </ul>
                        </li>
                        <li class="header-menus__item">
                            <a class="header-menus__link" href="{% url 'girls:home' %}#about">{% trans 'About us' %}</a>
                        </li>
                    </ul>
                    <!-- /.header-menus -->
                    <div class="header-controls">
                        <button class="header-controls__city header-city">
                            {% if city %}
                                <span class="header-city__val">{{ city.name|translate:LANGUAGE_CODE }}</span>
                            {% else %}
                                <span class="header-city__val">{% trans 'Chose city' %}</span>
                            {% endif %}
                        </button>
                        <!-- /.header-city -->
                        {% if user.is_authenticated %}
                        <a href="{% url 'profile' %}" class="header-controls__login header-login">
                            <img class="header-login__img" src="{% static 'img/icon-user' %}.svg" alt="войти">
                            <span class="headr-login__text">{% trans 'Cabinet' %}</span>
                        </a>
                        <!-- /.header-login -->
                        {% else %}
                        <a href="{% url 'login' %}" class="header-controls__login header-login">
                            <img class="header-login__img" src="{% static 'img/icon-login' %}.png" alt="войти">
                            <span class="headr-login__text">{% trans 'Authorization' %}</span>
                        </a>
                        <!-- /.header-login -->
                        {% endif %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        <select name="language" class="header-controls__languages header-languages">
                            {% for language in languages %}
                                <option class="header-languages__option"
                                        data-url="/{{ language.code }}/"
                                        value="{{ language.name_local }}"
                                        {% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                    {{ language.code }}
                                </option>
                            {% endfor %}
                        </select>
                        <!-- /.header-languages -->
                        <a href="{% url 'girls:search' %}" class="header-controls__search header-search" type="button" aria-label="Поиск">
                            <img class="header-search__img" src="{% static 'img/icon-search' %}.png" alt="поиск">
                        </a>
                        <!-- /.header-search -->
                        <button class="header-controls__mail header-mail" type="button" aria-label="Написать нам">
                            <img class="header-mail__img" src="{% static 'img/icon-mail' %}.png" alt="конверт">
                        </button>
                        <!-- /.header-mail -->
                    </div>
                    <!-- /.header-controls -->
                    <button class="header-menu-btn" type="button" aria-label="мобильное меню">
                        <span></span>
                    </button>
                </div>
                <!-- /.header-row -->
                <div class="mobile-menu">
                    <div class="mobile-menu-inner">
                        <div class="mobile-menu__controls mobile-controls">
                            <button class="mobile-controls__mail" type="button" aria-label="написать нам">
                                <img src="{% static 'img/icon-mail' %}.png" alt="конверт">
                            </button>
                            <a class="mobile-controls__search" href="{% url 'girls:search' %}" aria-label="поиск">
                                <img src="{% static 'img/icon-search' %}.png" alt="поиск">
                            </a>
                        </div>
                        <!-- /.mobile-controls -->
                        <ul class="mobile-menu__nav mobile-nav">
                            <li class="mobile-nav__item{% if section == 'home' %} active{% endif %}"><a href="{% url 'girls:home' %}">{% trans 'Home Page' %}</a></li>
                            <li class="mobile-nav__item mobile-nav__item_has_children{% if slug == 'new' %} active{% endif %}">
                                <span>{% trans 'Profiles' %}</span>
                                <ul class="mobile-sub-menu">
                                    <li{% if slug == 'new' %} class="active"{% endif %}><a href="{% url 'girls:catalog' %}">{% trans 'All the profiles' %}</a></li>
                                    {% for category in categories %}
                                        <li{% if slug == category.slug %} class="active"{% endif %}>
                                            <a href="{{ category.get_absolute_url }}">{{ category.name|translate:LANGUAGE_CODE }}</a>
                                        </li>
                                    {% endfor %}
                                    <li class="{% if slug == 'bdsm' %} active{% endif %}">
                                        <a href="{% url 'girls:catalog_by_service' 'bdsm' %}">{% trans 'BDSM' %}</a>
                                    </li>
                                    <li class="{% if slug == 'massazh-eroticheskij' %} active{% endif %}">
                                        <a href="{% url 'girls:catalog_by_service' 'massazh-eroticheskij' %}">{% trans 'Erotic massage' %}</a>
                                    </li>
                                    <li class="{% if slug == 'real-photo' %} active{% endif %}">
                                        <a href="{% url 'girls:catalog_by_real_photo' %}">{% trans 'Real photo' %}</a>
                                    </li>
                                    <li class="{% if slug == 'outcall' %} active{% endif %}">
                                        <a href="{% url 'girls:catalog_by_outcall' %}">{% trans 'Outcall' %}</a>
                                    </li>
                                    <li class="{% if slug == 'apartment' %} active{% endif %}">
                                        <a href="{% url 'girls:catalog_by_apartment' %}">{% trans 'Discrete flat' %}</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="mobile-nav__item"><a href="{% url 'girls:home' %}#about">{% trans 'About us' %}</a></li>
                        </ul>
                        <!-- /.mobile-nav -->
                        {% if user.is_authenticated %}
                        <div class="mobile-login">
                            <a class="mobile-login__link" href="{% url 'profile' %}">
                                <img src="{% static 'img/icon-user' %}.svg" alt="дверь">
                                <span>{% trans 'About us' %}</span>
                            </a>
                        </div>
                        <!-- /.mobile-login -->
                        {% else %}
                        <div class="mobile-login">
                            <a class="mobile-login__link" href="{% url 'login' %}">
                                <img src="{% static 'img/icon-login' %}.png" alt="дверь">
                                <span>{% trans 'Authorization' %}</span>
                            </a>
                        </div>
                        <!-- /.mobile-login -->
                        <a href="{% url 'register' %}" class="header-controls__add header-add">
                            <img src="{% static 'img/icon-plus' %}.png" alt="добавить" class="header-add__img">
                            <span class="header-add__text">{% trans 'Add profile' %}</span>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </header>
        <!-- /.header -->
        {% block content %}{% endblock %}
    </div>
    <!-- /.content -->
    <footer class="footer">
        <div class="container">
            <div class="footer-row">
                <a class="footer-logo" href="index.html">
                    <img class="footer-logo__img" src="{% static 'img/logo.png' %}" alt="Джусси-Пусси">
                </a>
                <nav class="footer-nav">
                    <a class="footer-nav__link{% if section == 'home' %} active{% endif %}"
                       href="{% url 'girls:home' %}">{% trans 'Home Page' %}</a>
                    <a class="footer-nav__link{% if section == 'catalog' %} active{% endif %}"
                       href="{% url 'girls:catalog' %}">{% trans 'Profiles' %}</a>
                    <a class="footer-nav__link"
                       href="{% url 'girls:home' %}#about">{% trans 'About us' %}</a>
                </nav>
                <p class="footer-copy">© 2021 {% trans 'Prostitutes of Israel' %}</p>
            </div>
        </div>
    </footer>
    <!-- ./footer -->
    <button class="to-top" type="button" aria-label="Наверх" onclick='window.scrollTo({top: 0, behavior: "smooth"});'>
        <img class="to-top__img" src="{% static 'img/icon-arrow-double.png' %}" alt="стрелки">
    </button>
</div>
<!-- /.wrapper -->
{% include 'partials/cities.html' %}
<script src="{% static 'js/jquery.min.js' %}?ver=2.1"></script>
<script src="{% static 'js/slick.min.js' %}?ver=2.1"></script>
<script src="{% static 'js/main.js' %}?ver=2.1"></script>
</body>
</html>
