{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <title>{% block title %}Главная{% endblock %} - Juicy Pussy</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
<div class="wrapper">
    <div class="content">
        <header class="header">
            <div class="container">
                <div class="header-row">
                    <div class="header__logo header-logo">
                        <a href="{% url 'girls:home' %}" class="header-logo__link">
                            <img src="{% static 'img/logo.png' %}" alt="Джусси-Пусси">
                        </a>
                    </div>
                    <!-- /.header-logo -->
                    <ul class="header-menus">
                        <li class="header-menus__item">
                            <a class="header-menus__link{% if section == 'home' %} active{% endif %}"
                               href="{% url 'girls:home' %}">Главная</a>
                        </li>
                        <li class="header-menus__item">
                            <a class="header-menus__link{% if section == 'catalog' %} active{% endif %}"
                               href="{% url 'girls:catalog' %}">Анкеты</a>
                        </li>
                        <li class="header-menus__item">
                            <a class="header-menus__link" href="{% url 'girls:home' %}#about">О нас</a>
                        </li>
                    </ul>
                    <!-- /.header-menus -->
                    <div class="header-controls">
                        <select class="header-controls__city header-city" required>
                            <option value="">Выберите город</option>
                            <option value="Москва">Москва</option>
                            <option value="Петербург">Петербург</option>
                            <option value="Екатеренбург">Екатеренбург</option>
                        </select>
                        <!-- /.header-city -->
                        {% if user.is_authenticated %}
                        <a href="{% url 'profile' %}" class="header-controls__login header-login">
                            <img class="header-login__img" src="{% static 'img/icon-user' %}.svg" alt="войти">
                            <span class="headr-login__text">Кабинет</span>
                        </a>
                        <!-- /.header-login -->
                        {% else %}
                        <a href="{% url 'login' %}" class="header-controls__login header-login">
                            <img class="header-login__img" src="{% static 'img/icon-login' %}.png" alt="войти">
                            <span class="headr-login__text">Авторизация</span>
                        </a>
                        <!-- /.header-login -->
                        {% endif %}
                        <select name="language" class="header-controls__languages header-languages">
                            <option class="header-languages__option" value="ru">RU</option>
                            <option class="header-languages__option" value="en">EN</option>
                        </select>
                        <!-- /.header-languages -->
                        <a href="{% url 'girls:search' %}" class="header-controls__search header-search" type="button" aria-label="Поиск">
                            <img class="header-search__img" src="{% static 'img/icon-search' %}.png" alt="поиск">
                        </a>
                        <!-- /.header-search -->
                        <button class="header-controls__mail header-mail" type="button" aria-label="Написать нам">
                            <img class="header-mail__img" src="{% static 'img/icon-mail' %}.png" alt="конверт">
                        </button>
                        <!-- /.header-mail -->
                    </div>
                    <!-- /.header-controls -->
                    <button class="header-menu-btn" type="button" aria-label="мобильное меню">
                        <span></span>
                    </button>
                </div>
                <!-- /.header-row -->
                <div class="mobile-menu">
                    <div class="mobile-menu-inner">
                        <div class="mobile-menu__controls mobile-controls">
                            <button class="mobile-controls__mail" type="button" aria-label="написать нам">
                                <img src="{% static 'img/icon-mail' %}.png" alt="конверт">
                            </button>
                            <a class="mobile-controls__search" href="{% url 'girls:search' %}" aria-label="поиск">
                                <img src="{% static 'img/icon-search' %}.png" alt="поиск">
                            </a>
                        </div>
                        <!-- /.mobile-controls -->
                        <ul class="mobile-menu__nav mobile-nav">
                            <li class="mobile-nav__item{% if section == 'home' %} active{% endif %}"><a href="{% url 'girls:home' %}">Главная</a></li>
                            <li class="mobile-nav__item mobile-nav__item_has_children{% if slug == 'new' %} active{% endif %}">
                                <span>Анкеты</span>
                                <ul class="mobile-sub-menu">
                                    <li{% if slug == 'new' %} class="active"{% endif %}><a href="{% url 'girls:catalog' %}">Все анкеты</a></li>
                                    {% for category in categories %}
                                        <li{% if slug == category.slug %} class="active"{% endif %}>
                                            <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li class="mobile-nav__item"><a href="{% url 'girls:home' %}#about">О нас</a></li>
                        </ul>
                        <!-- /.mobile-nav -->
                        {% if user.is_authenticated %}
                        <div class="mobile-login">
                            <a class="mobile-login__link" href="{% url 'profile' %}">
                                <img src="{% static 'img/icon-user' %}.svg" alt="дверь">
                                <span>Кабинет</span>
                            </a>
                        </div>
                        <!-- /.mobile-login -->
                        {% else %}
                        <div class="mobile-login">
                            <a class="mobile-login__link" href="{% url 'login' %}">
                                <img src="{% static 'img/icon-login' %}.png" alt="дверь">
                                <span>Авторизация</span>
                            </a>
                        </div>
                        <!-- /.mobile-login -->
                        <a href="{% url 'register' %}" class="header-controls__add header-add">
                            <img src="{% static 'img/icon-plus' %}.png" alt="добавить" class="header-add__img">
                            <span class="header-add__text">Добавить анкету</span>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </header>
        <!-- /.header -->
        {% block content %}{% endblock %}
    </div>
    <!-- /.content -->
    <footer class="footer">
        <div class="container">
            <div class="footer-row">
                <a class="footer-logo" href="index.html">
                    <img class="footer-logo__img" src="{% static 'img/logo.png' %}" alt="Джусси-Пусси">
                </a>
                <nav class="footer-nav">
                    <a class="footer-nav__link{% if section == 'home' %} active{% endif %}"
                       href="{% url 'girls:home' %}">Главная</a>
                    <a class="footer-nav__link{% if section == 'catalog' %} active{% endif %}"
                       href="{% url 'girls:catalog' %}">Анкеты</a>
                    <a class="footer-nav__link"
                       href="{% url 'girls:home' %}#about">О нас</a>
                </nav>
                <p class="footer-copy">© 2021 Проститутки Израиля</p>
            </div>
        </div>
    </footer>
    <!-- ./footer -->
    <button class="to-top" type="button" aria-label="Наверх">
        <img class="to-top__img" src="{% static 'img/icon-arrow-double.png' %}" alt="стрелки">
    </button>
</div>
<!-- /.wrapper -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/slick.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
