{% extends 'layout/account.html' %}

{% block title %}Черный список{% endblock %}

{% block account_title %}Черный список{% endblock %}

{% block account_content %}
<div class="account-number">
    <h2 class="account-number__title">Пробивка</h2>
    <div class="account-number-wrapper">
        <div class="col">
            <form action="{% url 'profile-check-phone' %}" method='post' class="number-form">
                <fieldset class="number-form__fieldset">
                    <label for="number">Введите номер вашего клиента</label>
                    {{ check_phone_form.phone }}
                    {% csrf_token %}
                    <button class="btn btn_form btn_invert" type="submit">Проверить</button>
                </fieldset>
            </form>
            <!-- /.number-form -->
            <div class="number-check-wrapper"></div>
        </div>
        <!-- /.col -->
        <div class="col">
            <p class="account-number__info">
                Пользоваться сервисом пробивки номеров вы можете оплатитив платный тариф один раз!
            </p>
            <div class="account-number-stats">
                <div class="account-number-stats__row">
                    <span class="account-number-stats__label">Телефонов в чёрном списке</span>
                    <span class="account-number-stats__value">{{ clients_cnt }}</span>
                </div>
                <div class="account-number-stats__row">
                    <span class="account-number-stats__label">Проверено телефонов всего</span>
                    <span class="account-number-stats__value">{{ clients_checked }}</span>
                </div>
                <div class="account-number-stats__row">
                    <span class="account-number-stats__label">Проверено телефонов за 24 часа</span>
                    <span class="account-number-stats__value">{{ last_day_checks }}</span>
                </div>
            </div>
        </div>
        <!-- /.col -->
    </div>
</div>
<div class="account-add-review">
    <h2 class="account-add-review__title">Оставить отзыв о клиенте</h2>
    <form action="{% url 'profile-add-phone' %}" method="post" class="account-add-review__form add-review-form">
        <fieldset class="add-review__fieldset">
            <legend>Введите номер вашего клиента</legend>
            <div class="row">
                {{ client_form.phone }}
                {% for field in client_review_form.type %}
                    <label class="radio-wrapper">
                        <span class="custom-label">{{ field.choice_label }}</span>
                        {{ field.tag }}
                        <span class="custom-radio"></span>
                    </label>
                {% endfor %}
            </div>
            <div class="row">
                {{ client_review_form.body }}
                {% csrf_token %}
                <button type="submit" class="btn btn_submit btn_form btn_invert">Оставить отзыв</button>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}