{% extends 'layout/account.html' %}
{% load i18n %}

{% block title %}{% trans 'Black list' %}{% endblock %}

{% block account_title %}{% trans 'Black list' %}{% endblock %}

{% block account_content %}
<div class="account-number">
    <h2 class="account-number__title">{% trans 'Punching' %}</h2>
    <div class="account-number-wrapper">
        <div class="col">
            <form action="{% url 'profile-check-phone' %}" method='post' class="number-form">
                <fieldset class="number-form__fieldset">
                    <label>{% trans 'Enter your customer number' %}</label>
                    {{ check_phone_form.phone }}
                    {% csrf_token %}
                    <button class="btn btn_form btn_invert" type="submit">{% trans 'Check' %}</button>
                </fieldset>
            </form>
            <!-- /.number-form -->
            <div class="number-check-wrapper"></div>
        </div>
        <!-- /.col -->
        <div class="col">
            <p class="account-number__info">
                {% trans 'You can use the number punching service by paying a paid tariff once!' %}
            </p>
            <div class="account-number-stats">
                <div class="account-number-stats__row">
                    <span class="account-number-stats__label">{% trans 'Phones on the blacklist' %}</span>
                    <span class="account-number-stats__value">{{ clients_cnt }}</span>
                </div>
                <div class="account-number-stats__row">
                    <span class="account-number-stats__label">{% trans 'Phones checked in total' %}</span>
                    <span class="account-number-stats__value">{{ clients_checked }}</span>
                </div>
                <div class="account-number-stats__row">
                    <span class="account-number-stats__label">{% trans 'Checked phones in 24 hours' %}</span>
                    <span class="account-number-stats__value">{{ last_day_checks }}</span>
                </div>
            </div>
        </div>
        <!-- /.col -->
    </div>
</div>
<div class="account-add-review">
    <h2 class="account-add-review__title">{% trans 'Leave customer feedback' %}</h2>
    <form action="{% url 'profile-add-phone' %}" method="post" class="account-add-review__form add-review-form">
        <fieldset class="add-review__fieldset">
            <legend>{% trans 'Enter your customer number' %}</legend>
            <div class="row">
                {{ client_form.phone }}
                {% for field in client_review_form.type %}
                    <label class="radio-wrapper">
                        <span class="custom-label">{{ field.choice_label }}</span>
                        {{ field.tag }}
                        <span class="custom-radio"></span>
                    </label>
                {% endfor %}
            </div>
            <div class="row">
                {{ client_review_form.body }}
                {% csrf_token %}
                <button type="submit" class="btn btn_submit btn_form btn_invert">{% trans 'Send' %}</button>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}