{% extends 'layout/account.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans 'Statistics' %}{% endblock %}

{% block account_title %}{% trans 'Statistics' %}{% endblock %}

{% block account_content %}
    <ul class="account-stats">
        <li class="account-stats__item stat-item">
            <span class="stat-item__label">
                <img src="{% static 'img/icon-document.png' %}" alt="документ">
                {% trans 'Profiles viewed (for all time)' %}
            </span>
            <span class="stat-item__value">{{ all_views }}</span>
        </li>
        <li class="account-stats__item stat-item">
            <span class="stat-item__label">
                <img src="{% static 'img/icon-document.png' %}" alt="документ">
                {% trans 'Profiles viewed (per day)' %}
            </span>
            <span class="stat-item__value">{{ last_day_views }}</span>
        </li>
        <li class="account-stats__item stat-item">
            <span class="stat-item__label">
                <img src="{% static 'img/icon-document.png' %}" alt="документ">
                {% trans 'Watched video' %}
            </span>
            <span class="stat-item__value">{{ video_views }}</span>
        </li>
    </ul>
{% endblock %}