{% extends 'layout/account.html' %}
{% load static %}

{% block title %}Статистика{% endblock %}

{% block account_title %}Статистика{% endblock %}

{% block account_content %}
    <ul class="account-stats">
        <li class="account-stats__item stat-item">
            <span class="stat-item__label">
                <img src="{% static 'img/icon-document.png' %}" alt="документ">
                Просмотренно анкеты (за всё время)
            </span>
            <span class="stat-item__value">320</span>
        </li>
        <li class="account-stats__item stat-item">
            <span class="stat-item__label">
                <img src="{% static 'img/icon-document.png' %}" alt="документ">
                Просмотренно анкеты (за сутки)
            </span>
            <span class="stat-item__value">61</span>
        </li>
        <li class="account-stats__item stat-item">
            <span class="stat-item__label">
                <img src="{% static 'img/icon-document.png' %}" alt="документ">
                Просмотренно видео
            </span>
            <span class="stat-item__value">24</span>
        </li>
    </ul>
{% endblock %}