{% extends 'layout/account.html' %}
{% load i18n %}

{% block title %}{% trans 'Your profile' %}{% endblock %}

{% block account_title %}{% trans 'Your profile' %}{% endblock %}

{% block account_content %}
<div class="account-forms">
    <div class="account-forms__row">
        <div class="col">
            {% include 'account/forms/form_profile.html' %}
        </div>
        <!-- /.col -->
        <div class="col">
            {% include 'account/forms/form_profile_price.html' %}
        </div>
        <!-- /.col -->
    </div>
    <!-- /.account-forms__row -->
    <div class="account-forms__section forms-section">
        <h3 class="forms-section__title">{% trans "Upload your verification photo with today's date" %}</h3>
        <div class="forms-section__row">
            {% include 'account/forms/form_profile_check_photo.html' %}
        </div>
        <h3 class="forms-section__title">{% trans 'Upload your video' %}</h3>
        <div class="forms-section__row forms-section__row_videos">
            {% include 'account/forms/form_profile_videos.html' %}
            {% include 'account/videos.html' %}
        </div>
        <h3 class="forms-section__title">{% trans 'Upload your photos' %}</h3>
        <div class="forms-section__row forms-section__row_gallery">
            {% include 'account/forms/form_profile_photos.html' %}
            {% include 'account/gallery.html' %}
        </div>
        <div class="account-services">
            <h2 class="account-services__title">{% trans 'Your services' %}</h2>
            {% include 'account/forms/form_profile_services.html' %}
        </div>
    </div>
</div>
<!-- /.account-forms -->
{% endblock %}