{% extends 'layout/account.html' %}

{% block title %}Ваша анкета{% endblock %}

{% block account_title %}Ваша анкета{% endblock %}

{% block account_content %}
<div class="account-forms">
    <div class="account-forms__row">
        <div class="col">
            {% include 'account/forms/form_profile.html' %}
        </div>
        <!-- /.col -->
        <div class="col">
            {% include 'account/forms/form_profile_price.html' %}
        </div>
        <!-- /.col -->
    </div>
    <!-- /.account-forms__row -->
    <div class="account-forms__section forms-section">
        <h3 class="forms-section__title">Загрузите ваше проверочное фото с сегодняшней датой</h3>
        <div class="forms-section__row">
            {% include 'account/forms/form_profile_check_photo.html' %}
        </div>
        <h3 class="forms-section__title">Загрузите ваше видео</h3>
        <div class="forms-section__row">
            <div class="file-wrapper">
                <input type="file">
                <div class="file-placeholder file-placeholder_video"></div>
            </div>
        </div>
        <h3 class="forms-section__title">Загрузите ваши фото</h3>
        <div class="forms-section__row">
            <div class="file-wrapper">
                <input type="file">
                <div class="file-placeholder file-placeholder_photo"></div>
            </div>
        </div>
        <div class="account-services">
            <h2 class="account-services__title">Ваши услуги</h2>
            {% include 'account/forms/form_profile_services.html' %}
        </div>
    </div>
</div>
<!-- /.account-forms -->
{% endblock %}