{% extends 'layout/account.html' %}
{% load i18n %}

{% block title %}{% trans 'Auto flip' %}{% endblock %}

{% block account_title %}{% trans 'Auto flip' %}{% endblock %}

{% block account_content %}
<div class="account-random">
    <div class="account-tarif__info">
        <p>{% trans 'Auto flips:' %}
            <strong>
                {% if adds_left == -1 %}
                    {% trans 'unlimited' %}
                {% else %}
                    {{ adds_left }}
                {% endif %}
            </strong>
        </p>
    </div>
    <form action="{% url 'update-adds-time' %}" class="random-form" method="post">
        <fieldset class="random-form__fieldset random-fieldset">
            <h2 class="random_fieldset__title">{% trans 'Auto flips:' %}</h2>
            {% for field in rate_form.active_advertising %}
                <label class="random-form__label">
                    {{ field.tag }}
                    <span class="custom-checkbox"></span>
                    <span class="label">{{ field.choice_label }}</span>
                </label>
            {% endfor %}
        </fieldset>
    </form>
    <!-- /.random-form -->
    <div class="random-cards">
        <h2 class="random-cards__title">{% trans 'Autoflips' %}</h2>
        <ul class="random-group">
            {% for toss in tosses %}
            <li class="random-group__item random-item">
                <h3 class="random-item__title">{% trans 'Autoflips' %} - {{ toss.quantity }}</h3>
                <p class="random-item__price">
                    <span>₪ {{ toss.price }}</span>
                </p>
                <a href="{% url 'create-order' toss.id  %}" class="random-item__btn" type="button">
                    {% trans 'Choose' %}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}