{% extends 'layout/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Registration' %}{% endblock %}

{% block content %}
<main class="register">
    <div class="container">
        <form action="." method="post" class="form-authentification">
            <h1 class="form-authentification__title">{% trans 'Registration' %}</h1>
            {{ user_form.as_p }}
            {% csrf_token %}
            <p>
                <label class="agreenment">
                    <input type="checkbox" name="agree" required checked>
                    <span>{% trans 'By registering I accept the Privacy Policy' %}</span>
                </label>
            </p>
            <p>
                {% trans 'The site administration exclusively provides a platform for advertising on it and is not responsible for the content of the advertisement. All responsibility rests with the advertiser!' %}
            </p>
            <p><button type="submit">{% trans 'Register' %}</button></p>
        </form>
    </div>
</main>
{% endblock %}