{% extends 'layout/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Registration completed' %}{% endblock %}

{% block content %}
<main class="register">
    <div class="container">
        <div class="form-authentification">
            <h1 class="form-authentification__title">{% trans 'Welcome!' %}</h1>
            <p>
                {% trans 'Your account has been successfully created.' %}
                {% trans 'Now you can' %} <a href="{% url 'login' %}">{% trans 'login' %}</a>.
            </p>
        </div>
    </div>
</main>
{% endblock %}