{% extends 'layout/account.html' %}
{% load i18n %}

{% block title %}{% trans 'Tariffs' %}{% endblock %}

{% block account_title %}{% trans 'Tariffs' %}{% endblock %}

{% block account_content %}
<div class="account-tarif">
    <div class="account-tarif__controls">
        <div class="account-tarif__info">
            <p>Осталось дней: <strong>{{ request.user.girl.rate_days_left }}</strong></p>
            <p>Кол-во автоподбросов: <strong>{% if adds_left == -1 %}{% trans 'unlimited' %}{% else %}{{ adds_left }}{% endif %}</strong></p>
            <p>Статус обьявления:
                <strong>
                    {% if request.user.girl.status == 'draft' %}
                        {% trans 'Draft' %}
                    {% elif request.user.girl.status == 'disabled' %}
                        {% trans 'Disabled' %}
                    {% elif request.user.girl.status == 'published' %}
                        {% trans 'Published' %}
                    {% endif %}
                </strong>
            </p>
        </div>
        <div class="account-tarif__buttons tarif-buttons">
            {% if request.user.girl.status == 'disabled' %}
                <button class="tarif-buttons__item start" data-url="{% url 'update-profile-status' %}" data-action="activate" type="button">Включить рекламу</button>
            {% endif %}
            {% if request.user.girl.status == 'published' %}
                <button class="tarif-buttons__item stop" data-url="{% url 'update-profile-status' %}" data-action="deactivate" type="button">Остановить рекламу</button>
            {% endif %}
        </div>
    </div>
    <h2 class="account-tarif__title">Выберите тарифный план</h2>
    {% if rates %}
    <ul class="tarif-group">
        {% for tarif in rates %}
            <li class="tarif-group__item tarif-item">
                <h3 class="tarif-item__title">{{ tarif.name }}</h3>
                <p class="tarif-item__price"><span>₪ {{ tarif.price }}</span></p>
                <p class="tarif-item__delta">{{ tarif.days }} дней</p>
                {% if tarif.photos != 0 %}
                    {% if tarif.photos == -1 %}
                        <p class="tarif-item__video">безлимит фото</p>
                    {% else %}
                        <p class="tarif-item__video">{{ tarif.photos }} фото</p>
                    {% endif %}
                {% endif %}
                {% if tarif.videos != 0 %}
                    {% if tarif.videos == -1 %}
                        <p class="tarif-item__video">безлимит видео</p>
                    {% else %}
                        <p class="tarif-item__video">{{ tarif.videos }} видео</p>
                    {% endif %}
                {% endif %}
                {% if tarif.adds != 0 %}
                    {% if tarif.adds == -1 %}
                        <p class="tarif-item__video">безлимит автоподбросов</p>
                    {% else %}
                        <p class="tarif-item__video">{{ tarif.adds }} автоподбросов</p>
                    {% endif %}
                {% endif %}
                <button data-id="{{ tarif.pk }}" class="tarif-item__info" type="button">?</button>
                <a class="tarif-item__link" href="{% url 'create-tariff_order' tarif.pk %}">
                    Выбрать
                </a>
            </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
<div class="popup popup-tarif">
    <div class="review-form form-authentification">
        <button type="button" class="review-form__close" aria-label="закрыть"></button>
        <div class="tarif-info">
            {% for tarif in rates  %}
                <div class="tarif-info__item" data-id="{{ tarif.pk }}">
                    {{ tarif.sub_name|linebreaks }}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}