{% extends 'layout/base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
<main class="account">
    <div class="container">
        <div class="section-header">
            <h1 class="section-header__title">
                {% block account_title %}{% endblock %}
            </h1>
        </div>
        <div class="account-nav-wrapper">
            <a href="{% url 'tarifs' %}" class="account-plan">
                <span class="account-plan__label">{% trans 'Your rate:' %}</span>
                <span class="account-plan__value">{{ request.user.girl.rate.name }}</span>
            </a>
            <nav class="account-nav">
                <a class="account-nav__link account-nav-link{% if section == 'profile' %} active{% endif %}"
                   href="{% url 'profile' %}">
                    <img src="{% static 'img/icon-user.png' %}" alt="анкета">
                    <span class="account-nav-link__text">{% trans 'Your profile' %}</span>
                </a>
                <a class="account-nav__link account-nav-link{% if section == 'blacklist' %} active{% endif %}"
                   href="{% url 'blacklist' %}">
                    <img src="{% static 'img/icon-warning.png' %}" alt="внимание">
                    <span class="account-nav-link__text">{% trans 'Black list' %}</span>
                </a>
                <a class="account-nav__link account-nav-link{% if section == 'dashboard' %} active{% endif %}"
                   href="{% url 'dashboard' %}">
                    <img src="{% static 'img/icon-stats.png' %}" alt="внимание">
                    <span class="account-nav-link__text">{% trans 'Statistics' %}</span>
                </a>
                <a class="account-nav__link account-nav-link" href="{{ request.user.girl.get_absolute_url }}">
                    <span class="account-nav-link__text">{% trans 'Profile' %}</span>
                </a>
                <a class="account-nav__link account-nav-link{% if section == 'push' %} active{% endif %}"
                   href="{% url 'push' %}">
                    <span class="account-nav-link__text">{% trans 'Autoflips' %}</span>
                </a>
                <a class="account-nav__link account-nav-link{% if section == 'password-change' %} active{% endif %}"
                   href="{% url 'password_change' %}">
                    <span class="account-nav-link__text">{% trans 'Change password' %}</span>
                </a>
                <a class="account-nav__link account-nav-link" href="{% url 'logout' %}">
                    <img src="{% static 'img/logout.svg' %}" alt="выйти">
                    <span class="account-nav-link__text">{% trans 'Logout' %}</span>
                </a>
            </nav>
        </div>
        {% include 'account/messages.html' %}
        {% block account_content %}{% endblock %}
    </div>
</main>
<!-- /.account -->
{% endblock %}