{% extends 'layout/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Password change' %}{% endblock %}

{% block content %}
<main class="reset">
    <div class="container">
        <div class="form-authentification">
            <h1 class="form-authentification__title">{% trans 'Password change' %}</h1>
            {% if validlink %}
                <p>{% trans 'Please enter your new password twice:' %}</p>
                <form action="." method="post" class="form-authentification">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <p><button type="submit">{% trans 'Change password' %}</button></p>
                </form>
            {% else %}
                <p>
                    {% trans 'Your password reset link is incorrect. Perhaps it has already been used.' %}
                    {% trans 'Please do' %} <a href="{% url 'password_reset' %}">{% trans 'new password reset' %}</a>.
                </p>
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}