{% extends 'layout/account.html' %}
{% load i18n %}

{% block title %}{% trans 'Password change' %}{% endblock %}

{% block account_title %}{% trans 'Password change' %}{% endblock %}

{% block account_content %}
    <div class="change-pass">
        <div class="container">
            <form action="." method="post" class="form-authentification">
                <h2 class="form-authentification__title">{% trans 'Password change' %}</h2>
                {{ form.as_p }}
                {% csrf_token %}
                <p><button type="submit">{% trans 'Change' %}</button></p>
            </form>
        </div>
    </div>
{% endblock %}