{% extends 'layout/base.html' %}

{% block content %}
<main class="reset">
    <div class="container">
        <div class="form-authentification">
            <h1 class="form-authentification__title">Сброс пароля</h1>
            {% if validlink %}
                <p>Введите, пожалуйста, ваш новый пароль дважды:</p>
                <form action="." method="post" class="form-authentification">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <p><button type="submit">Сменить пароль</button></p>
                </form>
            {% else %}
                <p>
                    Ваша ссылка на смену пароля неправильна. Возможно она уже была использована.
                    Сделайте пожалуйста, <a href="{% url 'password_reset' %}">новый сброс пароля</a>.
                </p>
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}