{% extends 'layout/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Password change' %}{% endblock %}

{% block content %}
<main class="reset">
    <div class="container">
        <div class="form-authentification form-login">
            <h1 class="form-authentification__title">{% trans 'Password changed!' %}</h1>
            <p>{% tran 'Your password has been successfully changed. Now you can' %} <a href="{% url 'login' %}">{% trans 'login' %}</a>.</p>
        </div>
    </div>
</main>
{% endblock %}