{% extends 'layout/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Forgot your password?' %}{% endblock %}

{% block content %}
<main class="reset">
    <div class="container">
        <form action="." method="post" class="form-authentification form-login">
            <h1 class="form-authentification__title">{% trans 'Password reset' %}</h1>
            {{ form.as_p }}
            {% csrf_token %}
            <button type="submit">{% trans 'Send E-mail' %}</button>
        </form>
    </div>
</main>
{% endblock %}