{% extends 'layout/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Password change' %}{% endblock %}

{% block content %}
<main class="reset">
    <div class="container">
        <div class="form-authentification form-login">
            <h1 class="form-authentification__title">{% trans 'Password change' %}</h1>
            <p>{% trans 'We have sent instructions for changing your password to the email address you provided.' %}</p>
            <p>{% trans 'If you did not receive an email, please make sure you have entered a valid email address.' %}</p>
        </div>
    </div>
</main>
{% endblock %}