{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load lang_tags %}
<main class="catalog" id="catalog">
    <div class="container">
        <div class="section-header">
            <h1 class="section-header__title">{% trans 'Elite escort in Israel' %}</h1>
        </div>
        <nav class="catalog-nav">
            {% for category in categories %}
                <a class="catalog-nav__link{% if slug == category.slug %} active{% endif %}"
                   href="{{ category.get_absolute_url }}">{{ category.name|translate:LANGUAGE_CODE }}</a>
            {% endfor %}
            <a class="catalog-nav__link{% if slug == 'bdsm' %} active{% endif %}"
               href="{% url 'girls:catalog_by_service' 'bdsm' %}">{% trans 'BDSM' %}</a>
            <a class="catalog-nav__link{% if slug == 'massazh-eroticheskij' %} active{% endif %}"
               href="{% url 'girls:catalog_by_service' 'massazh-eroticheskij' %}">{% trans 'Erotic massage' %}</a>
            <a class="catalog-nav__link{% if slug == 'real-photo' %} active{% endif %}"
               href="{% url 'girls:catalog_by_real_photo' %}">{% trans 'Real photo' %}</a>
            <a class="catalog-nav__link{% if slug == 'outcall' %} active{% endif %}"
               href="{% url 'girls:catalog_by_outcall' %}">{% trans 'Escort to your Home / Hotel' %}</a>
            <a class="catalog-nav__link{% if slug == 'apartment' %} active{% endif %}"
               href="{% url 'girls:catalog_by_apartment' %}">{% trans 'Discrete flat' %}</a>
            <a class="catalog-nav__link{% if slug == 'new' %} active{% endif %}"
               href="{% url 'girls:catalog' %}">{% trans 'New' %}</a>
        </nav>
        <h2 class="catalog__title">{{ category_name|translate:LANGUAGE_CODE }}</h2>
        {% include 'partials/girls-list.html' %}
    </div>
</main>
<!-- /.catalog -->