{% load i18n %}
<div class="catalog-wrapper">
    {% if girls or force_girls_list %}
    <ul class="catalog-group">
        {% if girls.number == 1 %}
            {% for girl in force_girls_list %}
                {% include 'partials/archive-girl.html' %}
            {% endfor %}
        {% endif %}
        {% for girl in girls %}
            {% include 'partials/archive-girl.html' %}
        {% endfor %}
    </ul>
    <!-- /.catalog-group -->
    {% else %}
    <p>{% trans 'No girls were found matching your search.' %}</p>
    {% endif %}
    {% if girls.paginator.num_pages > 1 %}
        {% include 'partials/pagination.html' with page=girls %}
    {% endif %}
</div>