{% load static %}

<ul class="socials">
    <li class="socials__item socials-item">
        <a class="socials-item__link" href="#" aria-label="вотсап">
            <img class="socials-item__img" src="{% static 'img/icon-whatsapp.png' %}" alt="вотсап">
        </a>
    </li>
    <li class="socials__item socials-item">
        <a class="socials-item__link" href="#" aria-label="телеграм">
            <img class="socials-item__img" src="{% static 'img/icon-telegram.png' %}" alt="телеграм">
        </a>
    </li>
    <li class="socials__item socials-item">
        <a class="socials-item__link" href="#" aria-label="телефон">
            <img class="socials-item__img" src="{% static 'img/icon-phone.png' %}" alt="телефон">
        </a>
    </li>
</ul>
<!-- /.socials -->