<form class="services-form" action="{% url 'profile-update-services' %}" method="post">
    <div class="servises-group">
        {% for field in profile_service_form.services %}
            <label class="input-wrapper">
                {{ field.tag }}
                <span class="custom-checkbox"></span>
                <span class="label">{{ field.choice_label }}</span>
            </label>
        {% endfor %}
    </div>
    {% csrf_token %}
    <button type="submit" class="btn btn_form">Сохранить</button>
</form>