{% load i18n %}
{% load lang_tags %}
{% get_current_language as LANGUAGE_CODE %}
<form class="form-bb form-bb_basic"
      action="{% url 'profile-update-info' %}" method="post">
    <h2 class="form-bb__title">{% trans 'Fill in the information' %}</h2>
    {{ profile_form.non_field_errors }}
    <fieldset class="form-bb__fieldset">
        {{ profile_form.name }}
        {{ profile_form.age }}
        {{ profile_form.breast }}
        {{ profile_form.growth }}
        {{ profile_form.weight }}
        <select name="{{ profile_form.city.name }}" required>
            <option value="">{% trans 'Choose city*' %}</option>
            {% for instance in profile_form.city.field.queryset %}
                <option value="{{ instance.pk }}"
                        {% if request.user.girl.city.slug == instance.slug %} selected{% endif %}>{{ instance.name|translate:LANGUAGE_CODE }}</option>
            {% endfor %}
        </select>
    </fieldset>
    <fieldset class="form-bb__fieldset">
        {{ profile_form.about }}
        <div class="input-wrapper input-wrapper_wa">
            {{ profile_form.whatsapp }}
        </div>
        <div class="input-wrapper input-wrapper_tg">
            {{ profile_form.telegram }}
        </div>
        <div class="input-wrapper input-wrapper_tel">
            {{ profile_form.phone }}
        </div>
    </fieldset>
    {% csrf_token %}
    <input type="hidden" name="form_type" value="basic-form">
    <button type="submit" class="btn btn_form">{% trans 'Save' %}</button>
</form>